# Xcode
build/
DerivedData/
*.xcuserstate
**/xcuserdata/
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# Secrets
.env
*.pem
